<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="https://static.nowcoder.com/images/logo_87_87.png"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/global.css}" />
    <link rel="stylesheet" th:href="@{/css/login.css}" />
    <title>Success!</title>
</head>
<body>
<header class="header-section ">
    <div class="intro-header no-img">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>时间未到</h1>
                        <hr class="small">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<h3 id="my-hobbies:6083a88ee3411b0d17ce02d738f69d47">请等待题目开放</h3>
<p>题目尚未开放，请耐心等待。 </p>
</body>
</html>